<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link type="text/css" href="/css/products.css" rel="stylesheet">

</head>

<body>
    
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/show-all/">Products</a>
        </div>
    </header>
    <br>   

    <div class="enterProduct">
        <form action="/add-product" method="POST">
            <label class="formlabel">
                <h2>Enter the name of the Product</h2>
            </label>

            <label class="formlabel" for="fname">Enter the name of product:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label class="formlabel" for="lname">Enter the Category:</label><br>
            <input type="text" id="lname" name="lname">

            <br>
            <input type="text" name="name"></input><br>
            <br>
            <button class="sendbtn">Send</button>
        </form>
    </div>
</body>
</html>