
extends layouts/main-layout.pug

block content 
    div.enterProduct
        form(action="/add-product", method="POST")
            label.formlabel
                h2 Enter the name of the Product
            br
            input(type="text" name="name")
            br
            br
            button.sendbtn Send