<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <main class="centered">
        <h1><%= prods.prodName %></h1>
        <hr>
        <div class="image">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="">
        </div>
        <h2><%= prods.prodCategory %></h2>
        <h2><%= prods.prodPrice %></h2>
        <p><%= prods.prodDescription %></p>
    </main>
</body>
</html>