doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title All Products
    body 
        header.topnav
            a(href="/") Home
            a(href="/show-all/") Products
        
        div.container
            div.image
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="")
            
            div.card-content
                <div class="wrapper">
                <div class="title">
                    Adidas Originals
                </div>
                <p>
                    Men's running tshirt
                </p>
                <span class="price">$29.99</span>
                <div class="content size">
                    <div class="name size-name">
                        Size
                    </div>
                    <div class="size-value">
                        <span class="color">XS</span>
                        <span class="color">S</span>
                        <span class="active">M</span>
                        <span class="color">L</span>
                        <span class="color">XL</span>
                    </div>
                </div>
                <div class="content colour">
                    <div class="name colour-name">
                        Colour
                    </div>
                    <div class="colour-value">
                        <span class="white" data-color="lightgrey" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png"></span>
                        <span class="blue active" data-color="#456ABD" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png"></span>
                        <span class="yellow" data-color="#EAA523" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png"></span>
                    </div>
                </div>
                <div class="btns">
                    <button>Buy now</button>
                    <button>Add to cart</button>
                </div>
                </div>
            </div>
        </div>