<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Awesome Product Card Design | CodingNepal</title>
      <link type="text/css" href="/css/products.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/styles.css">

      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   </head>
   
   <body>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/show-all/">Products</a>
        </div>
    </header>

    <% prods.forEach(function(prod) { %>
      
    <br>
      <div class="container">
         <div class="image">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="">
         </div>
         <div class="card-content">
            <div class="wrapper">
               <div class="title">
                <%= prod.prodName %>
               </div>
               <p>
                
               </p>
               <span class="price">$29.99</span>
               <div class="content size">
                  <div class="name size-name">
                     Size
                  </div>
                  <div class="size-value">
                     <span class="color">XS</span>
                     <span class="color">S</span>
                     <span class="active">M</span>
                     <span class="color">L</span>
                     <span class="color">XL</span>
                  </div>
               </div>
               <div class="content colour">
                  <div class="name colour-name">
                     Colour
                  </div>
                  <div class="colour-value">
                     <span class="white" data-color="lightgrey" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png"></span>
                     <span class="blue active" data-color="#456ABD" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png"></span>
                     <span class="yellow" data-color="#EAA523" data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png"></span>
                  </div>
               </div>
               <div class="btns">
                  <button>Buy now</button>
                  <button>Add to cart</button>
               </div>
            </div>
         </div>
      </div>
      <% }); %>
   </body>
</html>