<header>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/show-all/">Shop</a>

    <a href="/show-all/">Admin Products</a>
    <a href="/show-all/">Orders</a>
    <a href="/show-all/">Cart</a>
  </div>
</header>
<br />
